@model IEnumerable<ThAmCo.Stock.Data.ProductStock>

@{
    ViewData["Title"] = "Low Stock";
}

<h1>Products with Low Stock</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PriceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
